* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0;
}
.header {
    background-color: rgb(62, 149, 62);
    padding: 50px;
    text-align: center;
    color: white;
}
.navbar {
    display: flex;
    background-color: black;
    width: 100%;

}
.navbar a {
    color: white;
    line-height: 1.5;
}
.row {
    padding: auto;
    display: flex;
    flex-wrap: wrap;
}
.side {
    width: 20%;
    background-color: rgb(216, 215, 215);
    padding: 20px;
}
.main {
    width: 60%;
    margin-left: 2%;
    padding: 15px 15px 15px 0;
}
.fakeimg {
    background-color: rgb(159, 159, 159);
    height: 200px;
    padding: 10px;
    width: 100%;
}
.comment {
    background-color: rgb(159, 159, 159);
    padding: 10px;
    width: 16%;
    margin-left: 2%;
}
.footer {
    background-color: rgb(200, 199, 199);
    padding: 35px;
    text-align: center;
}

/*media queries*/

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
    .side {
        width: 100%;
    }
    .main {
        width: 100%;
    }
    .comment {
        width: 100%;
        display: none;
    }
}