* {
    box-sizing: border-box;
}
body {
    color: rgb(46, 45, 45);
    background-color: rgb(247, 254, 255);
    font-family: sans-serif;
    font-size: 0.9rem;
}
p {
    line-height: 1.5;
}
.wrap {
    width: 90%;
    margin: auto;
    padding: 10px;
}
.div1,
.div2,
.div3,
.line1,
.line2,
.line3,
.float,
.float2,
.float3,
.float4,
.float5,
.input,
.hw {
    display: -webkit-flex;
    /* flex-wrap: wrap; */
}
.div1,
.div2,
.div3 {
    margin-top: 100px;
    margin-left: 50px;
}
.body,
.img {
    width: 50%;
    margin-left: 20px;
}
h1 {
    font-size: 55px;
    width: 70%;
}
.longwords {
    font-size: 15px;
    width: 65%;
}
.details {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 37%;
    /* box-shadow: 15px 5px 35px 1px rgb(103, 103, 103); */
}
/* .input {
    -webkit-justify-content: space-between;
} */
.metric2,
.imperial2 {
    font-weight: bold;
}
.imperial {
    margin-left: 150px;
}
.hbox {
    color: rgb(2, 81, 165);
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    height: 60px;
    border-color: rgb(173, 173, 173);
    border-radius: 10px;
    border-style: solid;
    border-width: 1.5px;
    margin-top: 5px;
    padding: 20px 10px 20px 155px;
}
.height,
.weight {
    width: 100%;
}
.height2,
.weight2 {
    margin-top: 25px;
    margin-bottom: 0px;
}
.hw {
    -webkit-justify-content: space-between;
}
.welcome {
    background: -webkit-linear-gradient(right, rgb(0, 49, 184), rgb(1, 79, 197));
    border-radius: 10px 60px 60px 10px;
    color: white;
    margin-top: 20px;
    padding: 15px;
}
.enter {
    font-size: 0.8rem;
}
.div2 {
    /* padding-top: 60px; */
    /* margin-top: 80px; */
    /* margin-bottom: 100px; */
}
.img {
    width: 60%;
}
.guy {
    width: 73%;
}
.bmi {
    width: 55%;
    margin: 105px auto auto auto;
}
h2 {
    font-size: 40px;
    width: 80%;
}
.longwords2 {
    width: 75%;
}
.div3 {
    background-color: rgb(231, 250, 253);
    border-radius: 20px;
    margin-left: 0px;
    padding: 80px;
    width: 100%;
}
.div3 {
    margin: ;
}
.crypto1 {
    width: 50px;
    height: 50px;
}
.healthy,
.regular,
.adequate {
    margin: auto;
    width: 30%;
}
h3 {
    font-size: 18px;
}
.div4 {
    margin-bottom: 70px;
}
.line1 {
    padding: 80px 80px 0px 80px;
}
.longwords3 {
    width: 68%;
}
.gender,
.age,
.muscle {
    background-color: white;
    border-radius: 15px;
    margin-right: 160px;
    margin-top: 30px;
    padding: 20px;
    width: 62%;
}
.line2,
.line3 {
    -webkit-justify-content: right;
    margin: 25px 150px 0px 0px;
}
.age,
.muscle,
.pregnancy,
.race {
    background-color: white;
    border-radius: 15px;
    margin: 0px;
    padding: 20px;
    width: 28%;
}
.muscle {
    margin-left: 25px;
}
.line3 {
    flex-wrap: wrap;
    margin: 25px 320px 0px 0px;
}
.pregnancy,
.race {
    width: 33%;
}
.race {
    margin-left: 25px;
}
.gen,
.mus,
.ra,
.preg,
.ag {
    margin: 5.5px 10px;
}
.crypto {
    height: 25px;
    width: 25px;
}

/*=====media queries====*/
@media screen and (max-width: 700px) {
.div1,
.div2,
.div3,
.line1,
.line2,
.line3 {
        -webkit-flex-direction: column;
}
.wrap {
    padding: 0px;
    width: 100%;
}
.body,
.details,
.img,
.guy,
.bmi,
.healthy,
.regular,
.adequate,
.body2,
.gender,
.age,
.muscle,
h1,
h2,
.longwords,
.longwords2,
.longwords3,
.limitation,
p{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
}
.pregnancy,
.race {
    width: 155%;
}
.gender {
    margin-left: -12px;
}
.age,
.muscle,
.pregnancy,
.race {
        margin-left: 60px;
    }
.crypto1 {
    height: 28px;
    width: 28px;
}
}