body {
    margin: auto 50px;
}
.Logo {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin: auto 10px;
    background-color: rgb(28, 18, 64);
    color: white;
    text-align: center;
    padding: 20px;
}
.main


/*==========media queries===========*/