* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    color: rgb(195, 194, 194);
}
p {
    font-size: 0.9rem;
    line-height: 1.5;
}
.header {
    background-color: black;
    color: white;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    width: 100%;
}
a {
    color: white;
    text-decoration: none;
}
.audiophile {
    margin-left: 150px;
}
.nav {
    margin: auto 550px auto auto;
}
.nav a {
    margin: auto 20px;
    font-size: 0.7rem;
}
/* hr {
    border: dotted; 
    color: rgb(179, 177, 177); 
    border-bottom: 0;
    width: 50%;
} */
.div1 {
    background-color: black;
    display: -webkit-flex;
    padding: 60px 80px;
    width: 100%;
}
.bold {
    margin-left: 80px;
    margin-top: 80px;
    width: 40%;
}
.new {
    font-size: 0.8rem;
    margin-bottom: 15px;
}
.bold p {
    width: 60%;
}
.bold h1 {
    color: white;
    font-size: 50px;
    margin: 0px;
}
.ex {
    margin-bottom: 50px;
}
.seemore {
    font-size: 0.7rem;
    font-weight: bold;
    background-color: rgb(252, 145, 24);
    padding: 15px 20px;
    text-align: center;
    width: 30%;
}
.hpimg {
    width: 100%;
}
.hpimg1 {
    margin-left: 0px;
    width: 35%;
}
.wrap {
    color: black;
    width: 100%;
}
.div2 {
    display: flex;
    padding: 20px 150px;
    width: 100%;
}
.headphone {
    background-color: rgb(222, 222, 222);
    border-radius: 15px;
    padding: 80px 30px 20px 30px;
    width: 30%;
}