* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    color: rgb(195, 194, 194);
}
p {
    font-size: 0.9rem;
    line-height: 1.5;
}
.header,
.div1,
.footer {
    background-color: black;
    width: 100%;
}
.header,
.footer {
    color: white;
}
.header {
    /* padding: 25px 0px; */
}
a {
    color: white;
    text-decoration: none;
}
.audiomart {
    margin: 0px;
    padding-bottom: 20px;
}
.head {
    margin: auto;
    padding: 20px 0px;
}
nav {
    /* padding: 25px 0px; */
}
.nav a {
    font-size: 0.7rem;
    margin: 0px;
    padding: 20px;
}
.nav2 a {
    margin: auto 20px;
    font-size: 0.7rem;
}
.nav a:hover {
    background-color: white;
    border-width: 2%;
    color: black;
}
/* hr {
    border: dotted; 
    color: rgb(179, 177, 177); 
    border-bottom: 0;
    width: 50%;
} */

.head,
.div1,
.div2,
.div5,
.div6,
.foot {
    display: -webkit-flex;
}
.div1 {
    padding: 60px 80px;
}
.bold {
    margin-left: 80px;
    margin-top: 60px;
    width: 40%;
}
.new {
    font-size: 0.8rem;
    margin-bottom: 15px;
}
.bold p {
    width: 60%;
}
.bold h1 {
    color: white;
    font-size: 50px;
    margin: 0px;
}
.ex {
    margin-bottom: 50px;
}
.seemore {
    color: black;
    font-size: 0.7rem;
    font-weight: bold;
    background-color: rgb(255, 132, 32);
    padding: 15px 20px;
    text-align: center;
    width: 30%;
}
.seemore:hover {
    background-color: white;
}
.hpimg {
    width: 100%;
}
.hpimg1 {
    margin-left: 0px;
    width: 35%;
}


.wrap {
    color: black;
    width: 100%;
}


.div2 {
    padding: 20px 150px;
    width: 100%;
}
.div2 div {
    margin: 200px auto auto auto;
}
.div2 a {
    color: rgb(81, 81, 81);
    font-size: 0.8rem;
}
.div2 a:hover,
.nav2 a:hover {
    color: rgb(255, 132, 32);
}
.headphone,
.speaker,
.earphone {
    background-color: rgb(227, 227, 227);
    border-radius: 15px;
    padding:100px 30px 20px 30px;
    text-align: center;
    width: 30%;
}
.hp,
.sp,
.ep {
    position: absolute;
    margin-top: -150px;
    margin-left: -57px;
    width: 8%;
}
.sp {
    width: 7%;
    margin-left: -48px;
}
.ep {
    width: 10%;
    margin-left: -70px;
}

.head,
.div3,
.div4,
.div5,
.div6,
.foot {
    border-radius: 10px;
    width: 78%;
}

.div3 {
    background-image: url(../audiophile-page/image/speak.png);
    background-color: rgb(74, 190, 253);
    background-position-x: -30px;
    height: 480px;
    margin: 170px auto auto auto;
    padding: 0px;
}
/* .bold2 {
    margin-top: 100px;
    width: 35%;
}
.bold2 h1 {
    color: white;
    font-size: 50px;
    margin: 0px;
    width: 60%;
    line-height: 1;
}
.bold2 p {
    color: white;
    margin-bottom: 50px;
    width: 70%;
}
.seeprod {
    font-size: 0.7rem;
    font-weight: bold;
    background-color: rgb(2, 1, 83);
    padding: 15px 20px;
    text-align: center;
    width: 30%;
} */
.div4,
.div5 {
    margin: 30px auto auto auto;
}
.div4,
.mod,
.ipod {
    background-size: 100%;
}
.div3,
.div4 {
    background-image: url('../audiophile-page/image/bcg.png');
    background-repeat: repeat-x;
    background-position-x: -32px;
    background-position-y: -10px;
    padding: 100px;
}
.div4 h3 {
    font-size: 25px;
    margin-bottom: 50px;
    width: 40%;
}
.seeprod2:hover,
.seeprod3:hover {
    background-color: black;
    color: white;
}
.seeprod2,
.seeprod3 {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    color: black;
    padding: 20px;
}
.head,
.div5,
.div6,
.foot {
    -webkit-justify-content:space-between;
}
.ipod,
.yx1 {
    border-radius: 10px;
    width: 49%;
    height: 300px;
} 
.ipod {
    background-image: url(../audiophile-page/image/earpod3.jpg); 
}
.div5 h3 {
    font-size: 25px;
    margin-bottom: 50px;
    width: 40%;
}
.yx1 {
    background-color: rgb(227, 227, 227);
    padding: 50px 50px 50px 80px;   
}

.div6 {
    border-radius: none;
    margin: 150px auto auto auto;
}
.bold3 {
    margin-top: 100px;
    width: 45%;
}
.bring {
    font-size: 32px;
    width: 65%;
}
.lorem {
    width: 90%;
}
.mod {
    background-image: url(../audiophile-page/image/modela.jpg);
    border-radius: 10px;
    height: 500px;
    width: 50%;
}
.bold3 important {
    color: rgb(255, 132, 32);
}

.footer {
    margin-top: 150px;
    padding: 100px 0px 50px 0px;
}
.foot {
    margin: auto;
}
.bold4 {
    /* margin-left: 85px; */
    width: 50%;
}
.bold4 h2,
.longword {
    margin-top: 0px;
    margin-bottom: 40px;
}
.bold4 p {
    width: 100%;
}
.copy {
    margin: 0px;
}
.nav2 {
    font-size: 0.8rem;
    display: flex;
}