body {
    text-align: center;
    background-color: black;
    font-family: sans-serif;
}
p {
    color: white;
    font-size: 9px;
}
.name {
    font-size: 17px;
    color: white
}
.location {
    font-size: 12px;
    color: rgb(123, 202, 4);
}
a {
    text-decoration: none;
    color: white;
}
.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover {
    background-color: rgb(156, 156, 156);
}
.main {
    margin: 100px auto;
    width: 250px;
    height: 440px;
    background-color: rgb(46, 46, 46);
    padding: 35px 15px 5px 15px;
    text-align: center;
    border-radius: 10px;
}
.main div {
    background-color: rgb(72, 72, 72);
    border-radius: 7px;
    width: 210px;
    font-size: 0.7em;
    font-family: sans-serif;
    padding: 10px 10px;
    margin: 15px auto;
    color: white;
}
img {
    width: 80px;
    height: 80px;
}